<a href="https://colab.research.google.com/github/nbisso/TP2-Orga-7506/blob/main/Copy_of_TP_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://realpython.com/train-test-split-python-data/
# https://www.kaggle.com/franciscoescobar/richter-s-predictor-modeling-earthquake-damage
# https://www.analyticsvidhya.com/blog/2020/09/alternative-hyperparameter-optimization-technique-you-need-to-know-hyperopt/
# https://towardsdatascience.com/cross-entropy-for-classification-d98e7f974451

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split,RandomizedSearchCV
import lightgbm as lgb
from lightgbm import LGBMClassifier
from sklearn.metrics import f1_score

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# columnas = ['foundation_type', 
#                      'area_percentage', 
#                      'height_percentage',
#                      'count_floors_pre_eq',
#                      'land_surface_condition',
#                      'has_superstructure_cement_mortar_stone', 'damage_grade']

In [ ]:
# c = ['foundation_type', 
#                      'area_percentage', 
#                      'height_percentage',
#                      'count_floors_pre_eq',
#                      'land_surface_condition',
#                      'has_superstructure_cement_mortar_stone']

In [ ]:
train_labels = pd.read_csv('/content/drive/MyDrive/datasets_tp2/train_labels.csv')

In [ ]:
df_test = pd.read_csv('/content/drive/MyDrive/datasets_tp2/test_binary.csv')

In [ ]:
train_values = pd.read_csv('/content/drive/MyDrive/datasets_tp2/train_binary.csv')

In [ ]:
building_id = df_test['building_id']
df_test.shape

(86868, 60)

In [ ]:
train_labels.head()

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3

In [ ]:
train_values.head(5)

   building_id  geo_level_1_id  ...  avg_floors_per_year  avg_area
0       802906               6  ...             2.253883  8.281859
1        28830               8  ...             2.020671  7.692767
2        94947              21  ...             2.020671  7.363490
3       590882              22  ...             2.020671  8.233525
4       201944              11  ...             2.253883  8.860706

[5 rows x 60 columns]

In [ ]:
df_test.head(5)

   building_id  geo_level_1_id  ...  avg_floors_per_year  avg_area
0       300051              17  ...             2.142413  8.118089
1        99355               6  ...             2.181873  8.288253
2       890251              22  ...             1.955587  8.207028
3       745817              26  ...             1.864924  9.106268
4       421793              17  ...             2.084135  8.118089

[5 rows x 60 columns]

In [ ]:
train_values['damage_grade'] = train_labels['damage_grade']

In [ ]:
train_values['damage_grade'] = train_values['damage_grade'] -1

In [ ]:
X,y = train_values.iloc[:, :-1], train_values.iloc[:, -1]

In [ ]:
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)

In [ ]:
lgb_train = lgb.Dataset(X, y)
#lgb_test = lgb.Dataset(X_test, y_test)

In [ ]:
params = {
    'objective': 'multiclass',
    'metric': 'multi_logloss',
    'boosting_type': 'gbdt',
    'num_classes': 3,
    'num_leaves': 70,
    'min_data_in_leaf': 300,
    'feature_fraction': 0.8,
    'learning_rate': 0.04,
    'bagging_fraction': 0.8,
    'bagging_freq': 10,
    'max_depth': 8
}

In [ ]:
# https://www.kaggle.com/bitit1994/parameter-grid-search-lgbm-with-scikit-learn#3.-Grid-search
# model = LGBMClassifier(num_boost_round=2000, early_stopping_rounds= 1000)
# model.set_params(**params)
#model.fit(X_train, y_train, eval_set= (X_test, y_test), num_boost_round=2000, early_stopping_rounds= 1000)

In [ ]:
# #https://neptune.ai/blog/lightgbm-parameters-guide
# # https://towardsdatascience.com/hyperparameter-tuning-to-reduce-overfitting-lightgbm-5eb81a0b464e
# https://www.programmersought.com/article/40776531516/
model = lgb.train(params,
                lgb_train,
                num_boost_round = 100)

In [ ]:
# grid = {
#       'num_leaves': np.arange(10,100,10),
#       'min_data_in_leaf': np.arange(20,150,20),
#       'feature_fraction': [0.5, 0.6, 0.7, 0.8],
#       'learning_rate': [0.01, 0.02, 0.03, 0.04, 0.05, 0.1],
#       'bagging_fraction': [0.5, 0.6, 0.7, 0.8],
#       'bagging_freq': np.arange(10, 20, 2),
#       'max_depth': np.arange(5, 20, 5),
#       "subsample_for_bin": [100000,200000, 300000, 400000]
#       }

In [ ]:
#random_search = RandomizedSearchCV(estimator = model, param_distributions= grid, n_iter= 10)

In [ ]:
#random_search.fit(X_train, y_train,eval_set= (X_test, y_test), verbose = 1)

In [ ]:
#grid_search.best_params_

In [ ]:
#grid_search.best_score_

In [ ]:
pred = model.predict(df_test)
predicciones = [np.argmax(v) + 1 for v in pred]
predicciones.count(2)

85299

In [ ]:
len(predicciones)

86868

In [ ]:
f1_score(df_test, predicciones, average ='micro')

In [ ]:
labels = model.predict(df_test)

In [105]:
labels_pred = [np.argmax(v) + 1 for v in labels]
# labels_pred.count(2)

In [106]:
my_submission = pd.DataFrame(data=labels_pred,
                             columns=submission_format.columns,
                             index=submission_format.index)

NameError: ignored

In [ ]:
# df_final = pd.DataFrame()
# df_final['building_id'] = building_id
# df_final['damage_grade'] = labels_pred

ValueError: ignored

In [ ]:
#df_final.head(5)

In [ ]:
#df_final.to_csv('/content/drive/MyDrive/datasets_tp2/15072021_training-result.csv',index= False)