<a href="https://colab.research.google.com/github/nbisso/TP2-Orga-7506/blob/main/ensamble_con_rf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [321]:
!pip install --upgrade category_encoders
!pip install lightgbm
!pip install xgboost
!pip install graphviz
%matplotlib inline
from sklearn.metrics import plot_confusion_matrix
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
import math
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split,RandomizedSearchCV
import lightgbm as lgb
from lightgbm import LGBMClassifier
from sklearn.metrics import f1_score
import category_encoders as ce
import xgboost as xgb
import datetime
from sklearn.model_selection import GridSearchCV
import pytz

Requirement already satisfied: category_encoders in /usr/local/lib/python3.7/dist-packages (2.2.2)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (0.10.1)

In [322]:
import sys

In [323]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Levanto la data de los DFS

In [324]:
train_labels = pd.read_csv('/content/drive/MyDrive/datasets_tp2/train_labels.csv')
train_values = pd.read_csv('/content/drive/MyDrive/datasets_tp2/train_values.csv')
df_test = pd.read_csv('/content/drive/MyDrive/datasets_tp2/test_values.csv')

In [325]:
train_labels

        building_id  damage_grade
0            802906             3
1             28830             2
2             94947             3
3            590882             2
4            201944             3
...             ...           ...
260596       688636             2
260597       669485             3
260598       602512             3
260599       151409             2
260600       747594             3

[260601 rows x 2 columns]

In [326]:
train_values

        building_id  ...  has_secondary_use_other
0            802906  ...                        0
1             28830  ...                        0
2             94947  ...                        0
3            590882  ...                        0
4            201944  ...                        0
...             ...  ...                      ...
260596       688636  ...                        0
260597       669485  ...                        0
260598       602512  ...                        0
260599       151409  ...                        0
260600       747594  ...                        0

[260601 rows x 39 columns]

In [327]:
df_test

       building_id  ...  has_secondary_use_other
0           300051  ...                        0
1            99355  ...                        0
2           890251  ...                        0
3           745817  ...                        0
4           421793  ...                        0
...            ...  ...                      ...
86863       310028  ...                        0
86864       663567  ...                        0
86865      1049160  ...                        0
86866       442785  ...                        0
86867       501372  ...                        0

[86868 rows x 39 columns]

In [328]:
building_id = df_test['building_id']

Feature Engineering

Generamos el Target encode para P(damagegrade | glvlid)

In [329]:
df_values_with_damage = pd.merge(train_values, train_labels, on='building_id')
df_values_with_damage_encoded = pd.get_dummies(df_values_with_damage, columns =["damage_grade"])
#genero la prob de cada geo id por cada damage grade

for i in range(1, 4):
  encoder = ce.TargetEncoder(cols="geo_level_" +  str(i) +"_id")
  df_values_with_damage_encoded["prob1_geo" +  str(i)] = encoder.fit_transform(df_values_with_damage_encoded["geo_level_" +  str(i) +"_id"], df_values_with_damage_encoded["damage_grade_1"])
  df_values_with_damage_encoded["prob2_geo" +  str(i)] = encoder.fit_transform(df_values_with_damage_encoded["geo_level_" +  str(i) +"_id"], df_values_with_damage_encoded["damage_grade_2"])
  df_values_with_damage_encoded["prob3_geo" +  str(i)] = encoder.fit_transform(df_values_with_damage_encoded["geo_level_" +  str(i) +"_id"], df_values_with_damage_encoded["damage_grade_3"])

df_values_with_damage_encoded = df_values_with_damage_encoded.drop(columns=["damage_grade_1","damage_grade_2","damage_grade_3"])

train_values = df_values_with_damage_encoded

for k in range(1, 4):
  df_train_without_dp = train_values[["prob1_geo" + str(k),"prob2_geo"+ str(k),"prob3_geo"+ str(k),"geo_level_" + str(k) + "_id"]].drop_duplicates()
  df_test = df_test.merge(df_train_without_dp,on="geo_level_" + str(k) + "_id",how="left")
  df_test["prob1_geo" + str(k)] = df_test["prob1_geo" + str(k)].fillna(df_test["prob1_geo" + str(k)].mean())  
  df_test["prob2_geo" + str(k)] = df_test["prob2_geo" + str(k)].fillna(df_test["prob2_geo" + str(k)].mean()) 
  df_test["prob3_geo" + str(k)] = df_test["prob3_geo" + str(k)].fillna(df_test["prob3_geo" + str(k)].mean())

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

Usamos BinaryEncoder de los categoricos

In [330]:
df_train_encoding = pd.get_dummies(train_values, columns =['land_surface_condition', 'foundation_type', \
                            'roof_type', 'ground_floor_type', 'other_floor_type', 'position', 'plan_configuration', 'legal_ownership_status'])
df_test_encoding = pd.get_dummies(df_test, columns =['land_surface_condition', 'foundation_type', \
                            'roof_type', 'ground_floor_type', 'other_floor_type', 'position', 'plan_configuration', 'legal_ownership_status'])

Dropeamos las columnas que no suman importancia al resultado

In [331]:
 df_train_encoding=df_train_encoding.drop(columns=["has_secondary_use_use_police"])
 df_test_encoding=df_test_encoding.drop(columns=["has_secondary_use_use_police"])

 df_train_encoding=df_train_encoding.drop(columns=["has_secondary_use_health_post"])
 df_test_encoding=df_test_encoding.drop(columns=["has_secondary_use_health_post"])

 df_train_encoding=df_train_encoding.drop(columns=["geo_level_2_id","geo_level_3_id"])
 df_test_encoding=df_test_encoding.drop(columns=["geo_level_2_id","geo_level_3_id"])

In [332]:
df_train_encoding

        building_id  ...  legal_ownership_status_w
0            802906  ...                         0
1             28830  ...                         0
2             94947  ...                         0
3            590882  ...                         0
4            201944  ...                         0
...             ...  ...                       ...
260596       688636  ...                         0
260597       669485  ...                         0
260598       602512  ...                         0
260599       151409  ...                         0
260600       747594  ...                         0

[260601 rows x 74 columns]

In [333]:
df_train_encoding['avg_floors_per_year'] = df_train_encoding[['age', 'count_floors_pre_eq']].groupby('age').transform('mean')

In [334]:
df_test_encoding['avg_floors_per_year'] = df_test_encoding[['age', 'count_floors_pre_eq']].groupby('age').transform('mean')

In [335]:
df_test_encoding.head(2)

   building_id  geo_level_1_id  ...  legal_ownership_status_w  avg_floors_per_year
0       300051              17  ...                         0             2.142413
1        99355               6  ...                         0             2.181873

[2 rows x 75 columns]

In [336]:
df_train_encoding.head(2)

   building_id  geo_level_1_id  ...  legal_ownership_status_w  avg_floors_per_year
0       802906               6  ...                         0             2.253883
1        28830               8  ...                         0             2.020671

[2 rows x 75 columns]

Armamos y entrenamos el modelo XGBOOST y LGB

In [337]:
df_test_encoding = df_test_encoding.iloc[:,1:]
X = df_train_encoding.iloc[:, 1:]
y = train_labels.iloc[:, 1:]

In [338]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)

In [339]:
params_lgb = {
        "objective" : "multiclass",
        "num_class":3,
        "metric" : "multi_logloss",
        "boosting": 'gbdt',
        "max_depth" :9,
        "num_leaves" : 40,
        "learning_rate" : 0.05,
        "feature_fraction" : 0.5,
        "min_sum_hessian_in_leaf" : 0.1,
        "max_bin":8200,
        "verbosity" : 1,
        "num_threads":6,
        "seed": 1800
    }

In [340]:
#rf = RandomForestClassifier(n_estimators= 300, criterion= 'gini', max_depth= 25, verbose= 1, min_samples_leaf= 70)
rf = RandomForestClassifier(n_estimators= 200, criterion= 'gini', max_depth= 35, verbose= 1, min_samples_leaf = 70)

In [341]:
# rf.fit(X_train, y_train.values.ravel())

In [342]:
# predicc = rf.predict(X_test)

In [343]:
# f1_score(y_test, predicc, average='micro')

In [344]:
lgb_cl = lgb.LGBMClassifier(**params_lgb,num_boost_round=1000)

In [345]:
xgb_cl = xgb.XGBClassifier(min_child_weight= 5, 
                           learning_rate= 0.1, 
                           gamma= 0.05, 
                           subsample= 0.8,
                           colsample_bytree= 0.3, 
                           colsample_bynode= 0.8,
                           colsample_bylevel= 0.8, 
                           max_depth = 20, 
                           n_estimators = 150)

Entrenamos el modelo ensamblado

In [346]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier


vcl = VotingClassifier(
     estimators=[('xgb', xgb_cl), ('lgb', lgb_cl), ('rf', rf)],
     voting='hard')


vcl.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:118: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 200 out of 200 | elapsed:  1.1min finished

VotingClassifier(estimators=[('xgb',
                              XGBClassifier(base_score=0.5, booster='gbtree',
                                            colsample_bylevel=0.8,
                                            colsample_bynode=0.8,
                                            colsample_bytree=0.3, gamma=0.05,
                                            learning_rate=0.1, max_delta_step=0,
                                            max_depth=20, min_child_weight=5,
                                            missing=None, n_estimators=150,
                                            n_jobs=1, nthread=None,
                                            objective='binary:logistic',
                                            random_state=0, reg_alpha=0,
                                            reg_lambda=1, scale_...
                                                     criterion='gini',
                                                     max_depth=35,
                                                     max_features='auto',
                                                     max_leaf_nodes=None,
                                                     max_samples=None,
                                                     min_impurity_decrease=0.0,
                                                     min_impurity_split=None,
                                                     min_samples_leaf=70,
                                                     min_samples_split=2,
                                                     min_weight_fraction_leaf=0.0,
                                                     n_estimators=200,
                                                     n_jobs=None,
                                                     oob_score=False,
                                                     random_state=None,
                                                     verbose=1,
                                                     warm_start=False))],
                 flatten_transform=True, n_jobs=None, voting='hard',
                 weights=None)

Muestro la importancia de las features

In [347]:
plt.figure(figsize=(25,25))
plt.barh(X.columns, vcl.estimators_[0].feature_importances_)

In [348]:
plt.figure(figsize=(25,25))
plt.barh(X.columns, vcl.estimators_[1].feature_importances_)

In [349]:
feature_importances = np.mean([
    tree.feature_importances_ for tree in vcl.estimators_
], axis=0)

feature_importances


from sklearn.metrics import confusion_matrix
import seaborn as sns
y_pred = vcl.predict(X_test)

data = confusion_matrix(y_test, y_pred)
cm = pd.DataFrame(data, columns=np.unique(y_test), index = np.unique(y_test))
cm.index.name = 'Actual'
cm.columns.name = 'Predicted'
plt.figure(figsize = (10,7))
sns.heatmap(cm, annot=True, fmt="d", annot_kws={"size": 12})
plt.title("Confusion Matrix")
plt.show()

In [350]:
y_pred = vcl.estimators_[1].predict(X_test)

y_pred = [v + 1 for v in y_pred]

data = confusion_matrix(y_test, y_pred)
cm = pd.DataFrame(data, columns=np.unique(y_test), index = np.unique(y_test))
cm.index.name = 'Actual'
cm.columns.name = 'Predicted'
plt.figure(figsize = (10,7))
sns.heatmap(cm, annot=True, fmt="d", annot_kws={"size": 12})
plt.title("Confusion Matrix")
plt.show()

In [351]:
y_pred = vcl.estimators_[0].predict(X_test)

y_pred = [v + 1 for v in y_pred]

data = confusion_matrix(y_test, y_pred)
cm = pd.DataFrame(data, columns=np.unique(y_test), index = np.unique(y_test))
cm.index.name = 'Actual'
cm.columns.name = 'Predicted'
plt.figure(figsize = (10,7))
sns.heatmap(cm, annot=True, fmt="d", annot_kws={"size": 12})
plt.title("Confusion Matrix")
plt.show()

hago el predict de los valores de test

In [352]:
pred_xgboost = vcl.predict(X_test)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 200 out of 200 | elapsed:    2.4s finished

In [353]:
f1_score(y_test, pred_xgboost, average ='micro')

0.7601926286909307

predigo el df_test y creo el file contra el format csv

In [355]:
pred_xgboost_final = vcl.predict(df_test_encoding)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 200 out of 200 | elapsed:    4.0s finished

In [356]:
pred_xgboost_final

array([3, 2, 3, ..., 2, 2, 1])

In [357]:
df_final = pd.DataFrame()
df_final['building_id'] = building_id
df_final['damage_grade'] = pred_xgboost_final

In [358]:
df_final

       building_id  damage_grade
0           300051             3
1            99355             2
2           890251             3
3           745817             1
4           421793             3
...            ...           ...
86863       310028             2
86864       663567             3
86865      1049160             2
86866       442785             2
86867       501372             1

[86868 rows x 2 columns]

In [359]:
df_final.to_csv('/content/drive/MyDrive/datasets_tp2/29072021_training-result.csv',index= False)

In [360]:
# submission_format = pd.read_csv('/content/drive/MyDrive/datasets_tp2/submission_format.csv', index_col='building_id')
# my_submission = pd.DataFrame(data=pred_xgboost_final,
#                              columns=submission_format.columns,
#                              index=submission_format.index)

In [361]:
# my_submission.head()

In [362]:
# fecha = datetime.datetime.now(pytz.timezone("Etc/GMT+3"))
# my_submission.to_csv('/content/drive/MyDrive/datasets_tp2/training-result.csv',index= True)