<a href="https://colab.research.google.com/github/nbisso/TP2-Orga-7506/blob/main/TP_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#https://realpython.com/train-test-split-python-data/

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import lightgbm as lgb
from sklearn.metrics import f1_score

In [ ]:
df_train_labels = pd.read_csv('/content/drive/MyDrive/datasets_tp2/train_labels.csv')

In [ ]:
df_train_values = pd.read_csv('/content/drive/MyDrive/datasets_tp2/train_values.csv', dtype = {'land_surface_condition':'category', 'foundation_type':'category'} )

In [ ]:
df_train_values.dtypes

In [ ]:
df_train_labels.head()

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3

In [ ]:
df_train_values.head()

   building_id  ...  has_secondary_use_other
0       802906  ...                        0
1        28830  ...                        0
2        94947  ...                        0
3       590882  ...                        0
4       201944  ...                        0

[5 rows x 39 columns]

In [ ]:
#df_train_values = df_train_values.set_index('building_id')

In [ ]:
columnas = ['foundation_type', 
                     'area_percentage', 
                     'height_percentage',
                     'count_floors_pre_eq',
                     'land_surface_condition',
                     'has_superstructure_cement_mortar_stone', 'damage_grade']

In [ ]:
df_train_values['damage_grade'] = df_train_labels['damage_grade']

In [ ]:
df = df_train_values[columnas]
df['damage_grade'] = df['damage_grade'] -1
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  foundation_type  ...  damage_grade
0               r  ...             2
1               r  ...             1
2               r  ...             2
3               r  ...             1
4               r  ...             2

[5 rows x 7 columns]

In [ ]:
X,y = df.iloc[:, :-1], df.iloc[:, -1]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [ ]:
X_test

       foundation_type  ...  has_superstructure_cement_mortar_stone
242724               r  ...                                       0
197792               r  ...                                       0
50830                r  ...                                       0
229772               r  ...                                       0
90617                r  ...                                       0
...                ...  ...                                     ...
157672               r  ...                                       0
253672               r  ...                                       0
176899               r  ...                                       0
160311               r  ...                                       0
139061               r  ...                                       0

[78181 rows x 6 columns]

In [ ]:
lgb_train = lgb.Dataset(X_train, label = y_train)
lgb_eval = lgb.Dataset(X_test, y_test, reference= lgb_train)
lgb_eval.data

       foundation_type  ...  has_superstructure_cement_mortar_stone
242724               r  ...                                       0
197792               r  ...                                       0
50830                r  ...                                       0
229772               r  ...                                       0
90617                r  ...                                       0
...                ...  ...                                     ...
157672               r  ...                                       0
253672               r  ...                                       0
176899               r  ...                                       0
160311               r  ...                                       0
139061               r  ...                                       0

[78181 rows x 6 columns]

In [ ]:
y_test

242724    1
197792    1
50830     2
229772    1
90617     2
         ..
157672    1
253672    2
176899    2
160311    2
139061    2
Name: damage_grade, Length: 78181, dtype: int64

In [ ]:
params = {
    'objective': 'multiclass',
    'metric': 'multi_logloss',
    'boosting_type': 'gbdt',
    'num_classes': 3,
    'num_leaves': 40,
    'learning_rate': 0.05,
    'max_depth': 8
}

In [ ]:
#https://neptune.ai/blog/lightgbm-parameters-guide
model = lgb.train(params,
                lgb_train,
                num_boost_round=200,
                valid_sets=lgb_eval,
                early_stopping_rounds=10)

/usr/local/lib/python3.7/dist-packages/lightgbm/basic.py:762: UserWarning: categorical_feature in param dict is overridden.
  warnings.warn('categorical_feature in param dict is overridden.')

[1]	valid_0's multi_logloss: 0.904021
Training until validation scores don't improve for 10 rounds.
[2]	valid_0's multi_logloss: 0.897968
[3]	valid_0's multi_logloss: 0.892555
[4]	valid_0's multi_logloss: 0.887667
[5]	valid_0's multi_logloss: 0.883227
[6]	valid_0's multi_logloss: 0.87917
[7]	valid_0's multi_logloss: 0.875453
[8]	valid_0's multi_logloss: 0.872029
[9]	valid_0's multi_logloss: 0.86887
[10]	valid_0's multi_logloss: 0.865945
[11]	valid_0's multi_logloss: 0.863232
[12]	valid_0's multi_logloss: 0.86071
[13]	valid_0's multi_logloss: 0.858363
[14]	valid_0's multi_logloss: 0.856172
[15]	valid_0's multi_logloss: 0.854129
[16]	valid_0's multi_logloss: 0.852219
[17]	valid_0's multi_logloss: 0.850434
[18]	valid_0's multi_logloss: 0.848764
[19]	valid_0's multi_logloss: 0.847187
[20]	valid_0's multi_logloss: 0.845711
[21]	valid_0's multi_logloss: 0.84434
[22]	valid_0's multi_logloss: 0.843044
[23]	valid_0's multi_logloss: 0.841826
[24]	valid_0's multi_logloss: 0.840695
[25]	valid_0's multi_logloss: 0.839619
[26]	valid_0's multi_logloss: 0.83861
[27]	valid_0's multi_logloss: 0.837658
[28]	valid_0's multi_logloss: 0.836762
[29]	valid_0's multi_logloss: 0.835907
[30]	valid_0's multi_logloss: 0.835099
[31]	valid_0's multi_logloss: 0.834337
[32]	valid_0's multi_logloss: 0.833624
[33]	valid_0's multi_logloss: 0.832937
[34]	valid_0's multi_logloss: 0.832289
[35]	valid_0's multi_logloss: 0.831676
[36]	valid_0's multi_logloss: 0.831102
[37]	valid_0's multi_logloss: 0.83054
[38]	valid_0's multi_logloss: 0.830021
[39]	valid_0's multi_logloss: 0.829524
[40]	valid_0's multi_logloss: 0.829051
[41]	valid_0's multi_logloss: 0.828602
[42]	valid_0's multi_logloss: 0.828174
[43]	valid_0's multi_logloss: 0.827777
[44]	valid_0's multi_logloss: 0.827389
[45]	valid_0's multi_logloss: 0.827028
[46]	valid_0's multi_logloss: 0.826677
[47]	valid_0's multi_logloss: 0.82635
[48]	valid_0's multi_logloss: 0.826043
[49]	valid_0's multi_logloss: 0.825737
[50]	valid_0's multi_logloss: 0.825449
[51]	valid_0's multi_logloss: 0.825179
[52]	valid_0's multi_logloss: 0.824916
[53]	valid_0's multi_logloss: 0.824664
[54]	valid_0's multi_logloss: 0.82442
[55]	valid_0's multi_logloss: 0.824191
[56]	valid_0's multi_logloss: 0.82397
[57]	valid_0's multi_logloss: 0.823768
[58]	valid_0's multi_logloss: 0.823571
[59]	valid_0's multi_logloss: 0.823383
[60]	valid_0's multi_logloss: 0.823212
[61]	valid_0's multi_logloss: 0.823045
[62]	valid_0's multi_logloss: 0.822885
[63]	valid_0's multi_logloss: 0.822734
[64]	valid_0's multi_logloss: 0.822582
[65]	valid_0's multi_logloss: 0.822441
[66]	valid_0's multi_logloss: 0.82231
[67]	valid_0's multi_logloss: 0.822187
[68]	valid_0's multi_logloss: 0.822069
[69]	valid_0's multi_logloss: 0.821953
[70]	valid_0's multi_logloss: 0.821841
[71]	valid_0's multi_logloss: 0.82174
[72]	valid_0's multi_logloss: 0.821636
[73]	valid_0's multi_logloss: 0.821537
[74]	valid_0's multi_logloss: 0.821447
[75]	valid_0's multi_logloss: 0.821357
[76]	valid_0's multi_logloss: 0.821276
[77]	valid_0's multi_logloss: 0.821194
[78]	valid_0's multi_logloss: 0.82112
[79]	valid_0's multi_logloss: 0.82105
[80]	valid_0's multi_logloss: 0.820983
[81]	valid_0's multi_logloss: 0.820916
[82]	valid_0's multi_logloss: 0.820854
[83]	valid_0's multi_logloss: 0.820794
[84]	valid_0's multi_logloss: 0.820743
[85]	valid_0's multi_logloss: 0.820687
[86]	valid_0's multi_logloss: 0.820634
[87]	valid_0's multi_logloss: 0.820585
[88]	valid_0's multi_logloss: 0.820539
[89]	valid_0's multi_logloss: 0.820488
[90]	valid_0's multi_logloss: 0.820452
[91]	valid_0's multi_logloss: 0.820416
[92]	valid_0's multi_logloss: 0.820377
[93]	valid_0's multi_logloss: 0.820341
[94]	valid_0's multi_logloss: 0.820303
[95]	valid_0's multi_logloss: 0.820267
[96]	valid_0's multi_logloss: 0.820239
[97]	valid_0's multi_logloss: 0.820207
[98]	valid_0's multi_logloss: 0.820172
[99]	valid_0's multi_logloss: 0.820149
[100]	valid_0's multi_logloss: 0.820126
[101]	valid_0's multi_logloss: 0.820098
[102]	valid_0's multi_logloss: 0.820078
[103]	valid_0's multi_logloss: 0.820057
[104]	valid_0's multi_logloss: 0.820035
[105]	valid_0's multi_logloss: 0.820014
[106]	valid_0's multi_logloss: 0.82
[107]	valid_0's multi_logloss: 0.819976
[108]	valid_0's multi_logloss: 0.819959
[109]	valid_0's multi_logloss: 0.819939
[110]	valid_0's multi_logloss: 0.819922
[111]	valid_0's multi_logloss: 0.819903
[112]	valid_0's multi_logloss: 0.819884
[113]	valid_0's multi_logloss: 0.819859
[114]	valid_0's multi_logloss: 0.819846
[115]	valid_0's multi_logloss: 0.819826
[116]	valid_0's multi_logloss: 0.819815
[117]	valid_0's multi_logloss: 0.819801
[118]	valid_0's multi_logloss: 0.819789
[119]	valid_0's multi_logloss: 0.819778
[120]	valid_0's multi_logloss: 0.819769
[121]	valid_0's multi_logloss: 0.819756
[122]	valid_0's multi_logloss: 0.819751
[123]	valid_0's multi_logloss: 0.819745
[124]	valid_0's multi_logloss: 0.819737
[125]	valid_0's multi_logloss: 0.819726
[126]	valid_0's multi_logloss: 0.819712
[127]	valid_0's multi_logloss: 0.819701
[128]	valid_0's multi_logloss: 0.819692
[129]	valid_0's multi_logloss: 0.819679
[130]	valid_0's multi_logloss: 0.819673
[131]	valid_0's multi_logloss: 0.819668
[132]	valid_0's multi_logloss: 0.819655
[133]	valid_0's multi_logloss: 0.819648
[134]	valid_0's multi_logloss: 0.819642
[135]	valid_0's multi_logloss: 0.819637
[136]	valid_0's multi_logloss: 0.819632
[137]	valid_0's multi_logloss: 0.819626
[138]	valid_0's multi_logloss: 0.819617
[139]	valid_0's multi_logloss: 0.819611
[140]	valid_0's multi_logloss: 0.819609
[141]	valid_0's multi_logloss: 0.819605
[142]	valid_0's multi_logloss: 0.819599
[143]	valid_0's multi_logloss: 0.8196
[144]	valid_0's multi_logloss: 0.819598
[145]	valid_0's multi_logloss: 0.819597
[146]	valid_0's multi_logloss: 0.819588
[147]	valid_0's multi_logloss: 0.819583
[148]	valid_0's multi_logloss: 0.819575
[149]	valid_0's multi_logloss: 0.819571
[150]	valid_0's multi_logloss: 0.81957
[151]	valid_0's multi_logloss: 0.819565
[152]	valid_0's multi_logloss: 0.819563
[153]	valid_0's multi_logloss: 0.819559
[154]	valid_0's multi_logloss: 0.819554
[155]	valid_0's multi_logloss: 0.819547
[156]	valid_0's multi_logloss: 0.819544
[157]	valid_0's multi_logloss: 0.819542
[158]	valid_0's multi_logloss: 0.819536
[159]	valid_0's multi_logloss: 0.819533
[160]	valid_0's multi_logloss: 0.819528
[161]	valid_0's multi_logloss: 0.819526
[162]	valid_0's multi_logloss: 0.819522
[163]	valid_0's multi_logloss: 0.819518
[164]	valid_0's multi_logloss: 0.819511
[165]	valid_0's multi_logloss: 0.819511
[166]	valid_0's multi_logloss: 0.819506
[167]	valid_0's multi_logloss: 0.819506
[168]	valid_0's multi_logloss: 0.819507
[169]	valid_0's multi_logloss: 0.819506
[170]	valid_0's multi_logloss: 0.819506
[171]	valid_0's multi_logloss: 0.819502
[172]	valid_0's multi_logloss: 0.819504
[173]	valid_0's multi_logloss: 0.8195
[174]	valid_0's multi_logloss: 0.819503
[175]	valid_0's multi_logloss: 0.819501
[176]	valid_0's multi_logloss: 0.819499
[177]	valid_0's multi_logloss: 0.819503
[178]	valid_0's multi_logloss: 0.819502
[179]	valid_0's multi_logloss: 0.819497
[180]	valid_0's multi_logloss: 0.819498
[181]	valid_0's multi_logloss: 0.819493
[182]	valid_0's multi_logloss: 0.819489
[183]	valid_0's multi_logloss: 0.819484
[184]	valid_0's multi_logloss: 0.819482
[185]	valid_0's multi_logloss: 0.819481
[186]	valid_0's multi_logloss: 0.819484
[187]	valid_0's multi_logloss: 0.819481
[188]	valid_0's multi_logloss: 0.819486
[189]	valid_0's multi_logloss: 0.819476
[190]	valid_0's multi_logloss: 0.81948
[191]	valid_0's multi_logloss: 0.819482
[192]	valid_0's multi_logloss: 0.819486
[193]	valid_0's multi_logloss: 0.819484
[194]	valid_0's multi_logloss: 0.819484
[195]	valid_0's multi_logloss: 0.81948
[196]	valid_0's multi_logloss: 0.819477
[197]	valid_0's multi_logloss: 0.819478
[198]	valid_0's multi_logloss: 0.819478
[199]	valid_0's multi_logloss: 0.819478
Early stopping, best iteration is:
[189]	valid_0's multi_logloss: 0.819476

In [ ]:
pred = model.predict(X_test)
pred

array([[0.11780734, 0.49890757, 0.3832851 ],
       [0.03826826, 0.51871659, 0.44301515],
       [0.01660096, 0.45823029, 0.52516875],
       ...,
       [0.04664684, 0.62060258, 0.33275058],
       [0.01652425, 0.4897778 , 0.49369795],
       [0.04574817, 0.60027952, 0.35397231]])

In [ ]:
labels_pred = [np.argmax(v) for v in pred]
labels_pred

In [ ]:
error = f1_score(y_test, labels_pred, average ='micro')
error

0.5851933334186056

In [ ]:
df = pd.DataFrame(data = {'building_id': [], 'damage_grade': []})