<a href="https://colab.research.google.com/github/nbisso/TP2-Orga-7506/blob/main/TP_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#https://realpython.com/train-test-split-python-data/

In [9]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import lightgbm as lgb
from sklearn.metrics import f1_score

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
df_train_labels = pd.read_csv('/content/drive/MyDrive/datasets_tp2/train_labels.csv', index_col = 'building_id')

In [12]:
df_train_values = pd.read_csv('/content/drive/MyDrive/datasets_tp2/train_values.csv', 
                              dtype = {'land_surface_condition':'category', 'foundation_type':'category'}, index_col = 'building_id')

In [13]:
df_train_values.dtypes

geo_level_1_id                               int64
geo_level_2_id                               int64
geo_level_3_id                               int64
count_floors_pre_eq                          int64
age                                          int64
area_percentage                              int64
height_percentage                            int64
land_surface_condition                    category
foundation_type                           category
roof_type                                   object
ground_floor_type                           object
other_floor_type                            object
position                                    object
plan_configuration                          object
has_superstructure_adobe_mud                 int64
has_superstructure_mud_mortar_stone          int64
has_superstructure_stone_flag                int64
has_superstructure_cement_mortar_stone       int64
has_superstructure_mud_mortar_brick          int64
has_superstructure_cement_mortar_brick       int64
has_superstructure_timber                    int64
has_superstructure_bamboo                    int64
has_superstructure_rc_non_engineered         int64
has_superstructure_rc_engineered             int64
has_superstructure_other                     int64
legal_ownership_status                      object
count_families                               int64
has_secondary_use                            int64
has_secondary_use_agriculture                int64
has_secondary_use_hotel                      int64
has_secondary_use_rental                     int64
has_secondary_use_institution                int64
has_secondary_use_school                     int64
has_secondary_use_industry                   int64
has_secondary_use_health_post                int64
has_secondary_use_gov_office                 int64
has_secondary_use_use_police                 int64
has_secondary_use_other                      int64
dtype: object

In [14]:
df_train_labels.head()

             damage_grade
building_id
802906                  3
28830                   2
94947                   3
590882                  2
201944                  3

In [15]:
df_train_values.head()

             geo_level_1_id  ...  has_secondary_use_other
building_id                  ...
802906                    6  ...                        0
28830                     8  ...                        0
94947                    21  ...                        0
590882                   22  ...                        0
201944                   11  ...                        0

[5 rows x 38 columns]

In [16]:
#df_train_values = df_train_values.set_index('building_id')

In [17]:
columnas = ['foundation_type', 
                     'area_percentage', 
                     'height_percentage',
                     'count_floors_pre_eq',
                     'land_surface_condition',
                     'has_superstructure_cement_mortar_stone', 'damage_grade']

In [18]:
df_train_values['damage_grade'] = df_train_labels['damage_grade']

In [19]:
df = df_train_values[columnas]
df['damage_grade'] = df['damage_grade'] -1
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            foundation_type  ...  damage_grade
building_id                  ...
802906                    r  ...             2
28830                     r  ...             1
94947                     r  ...             2
590882                    r  ...             1
201944                    r  ...             2

[5 rows x 7 columns]

In [20]:
X,y = df.iloc[:, :-1], df.iloc[:, -1]
X

            foundation_type  ...  has_superstructure_cement_mortar_stone
building_id                  ...
802906                    r  ...                                       0
28830                     r  ...                                       0
94947                     r  ...                                       0
590882                    r  ...                                       0
201944                    r  ...                                       0
...                     ...  ...                                     ...
688636                    r  ...                                       0
669485                    r  ...                                       0
602512                    r  ...                                       0
151409                    r  ...                                       0
747594                    r  ...                                       0

[260601 rows x 6 columns]

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.333337170617)

In [22]:
y_test

building_id
83086      2
79035      1
552293     2
640564     1
1051848    2
          ..
604647     1
193680     2
519954     2
860271     1
131845     1
Name: damage_grade, Length: 86868, dtype: int64

In [23]:
lgb_train = lgb.Dataset(X_train, label = y_train)
lgb_eval = lgb.Dataset(X_test, y_test, reference= lgb_train)

In [24]:
params = {
    'objective': 'multiclass',
    'metric': 'multi_logloss',
    'boosting_type': 'gbdt',
    'num_classes': 3,
    'num_leaves': 40,
    'learning_rate': 0.05,
    'max_depth': 8
}

In [25]:
#https://neptune.ai/blog/lightgbm-parameters-guide
model = lgb.train(params,
                lgb_train,
                num_boost_round=200,
                valid_sets=lgb_eval,
                early_stopping_rounds=10)

/usr/local/lib/python3.7/dist-packages/lightgbm/basic.py:762: UserWarning: categorical_feature in param dict is overridden.
  warnings.warn('categorical_feature in param dict is overridden.')

[1]	valid_0's multi_logloss: 0.907625
Training until validation scores don't improve for 10 rounds.
[2]	valid_0's multi_logloss: 0.901484
[3]	valid_0's multi_logloss: 0.89599
[4]	valid_0's multi_logloss: 0.89103
[5]	valid_0's multi_logloss: 0.886519
[6]	valid_0's multi_logloss: 0.882396
[7]	valid_0's multi_logloss: 0.878608
[8]	valid_0's multi_logloss: 0.875126
[9]	valid_0's multi_logloss: 0.871907
[10]	valid_0's multi_logloss: 0.868925
[11]	valid_0's multi_logloss: 0.866169
[12]	valid_0's multi_logloss: 0.863596
[13]	valid_0's multi_logloss: 0.861208
[14]	valid_0's multi_logloss: 0.858982
[15]	valid_0's multi_logloss: 0.85691
[16]	valid_0's multi_logloss: 0.854963
[17]	valid_0's multi_logloss: 0.853148
[18]	valid_0's multi_logloss: 0.851449
[19]	valid_0's multi_logloss: 0.849856
[20]	valid_0's multi_logloss: 0.848359
[21]	valid_0's multi_logloss: 0.846953
[22]	valid_0's multi_logloss: 0.84563
[23]	valid_0's multi_logloss: 0.844386
[24]	valid_0's multi_logloss: 0.843206
[25]	valid_0's multi_logloss: 0.842108
[26]	valid_0's multi_logloss: 0.841072
[27]	valid_0's multi_logloss: 0.840093
[28]	valid_0's multi_logloss: 0.839171
[29]	valid_0's multi_logloss: 0.8383
[30]	valid_0's multi_logloss: 0.837479
[31]	valid_0's multi_logloss: 0.8367
[32]	valid_0's multi_logloss: 0.835966
[33]	valid_0's multi_logloss: 0.835259
[34]	valid_0's multi_logloss: 0.834604
[35]	valid_0's multi_logloss: 0.833977
[36]	valid_0's multi_logloss: 0.833379
[37]	valid_0's multi_logloss: 0.832812
[38]	valid_0's multi_logloss: 0.832277
[39]	valid_0's multi_logloss: 0.831772
[40]	valid_0's multi_logloss: 0.831289
[41]	valid_0's multi_logloss: 0.830822
[42]	valid_0's multi_logloss: 0.830379
[43]	valid_0's multi_logloss: 0.829955
[44]	valid_0's multi_logloss: 0.829554
[45]	valid_0's multi_logloss: 0.829181
[46]	valid_0's multi_logloss: 0.82882
[47]	valid_0's multi_logloss: 0.82848
[48]	valid_0's multi_logloss: 0.828154
[49]	valid_0's multi_logloss: 0.827843
[50]	valid_0's multi_logloss: 0.827542
[51]	valid_0's multi_logloss: 0.827258
[52]	valid_0's multi_logloss: 0.826991
[53]	valid_0's multi_logloss: 0.826736
[54]	valid_0's multi_logloss: 0.826493
[55]	valid_0's multi_logloss: 0.826255
[56]	valid_0's multi_logloss: 0.826036
[57]	valid_0's multi_logloss: 0.825827
[58]	valid_0's multi_logloss: 0.825618
[59]	valid_0's multi_logloss: 0.825425
[60]	valid_0's multi_logloss: 0.825245
[61]	valid_0's multi_logloss: 0.825069
[62]	valid_0's multi_logloss: 0.824905
[63]	valid_0's multi_logloss: 0.824755
[64]	valid_0's multi_logloss: 0.824605
[65]	valid_0's multi_logloss: 0.824458
[66]	valid_0's multi_logloss: 0.824325
[67]	valid_0's multi_logloss: 0.824198
[68]	valid_0's multi_logloss: 0.824077
[69]	valid_0's multi_logloss: 0.823954
[70]	valid_0's multi_logloss: 0.823839
[71]	valid_0's multi_logloss: 0.823726
[72]	valid_0's multi_logloss: 0.823618
[73]	valid_0's multi_logloss: 0.823519
[74]	valid_0's multi_logloss: 0.823424
[75]	valid_0's multi_logloss: 0.823328
[76]	valid_0's multi_logloss: 0.823238
[77]	valid_0's multi_logloss: 0.823146
[78]	valid_0's multi_logloss: 0.823062
[79]	valid_0's multi_logloss: 0.82298
[80]	valid_0's multi_logloss: 0.822905
[81]	valid_0's multi_logloss: 0.82283
[82]	valid_0's multi_logloss: 0.822763
[83]	valid_0's multi_logloss: 0.822692
[84]	valid_0's multi_logloss: 0.822632
[85]	valid_0's multi_logloss: 0.822569
[86]	valid_0's multi_logloss: 0.822513
[87]	valid_0's multi_logloss: 0.822457
[88]	valid_0's multi_logloss: 0.822404
[89]	valid_0's multi_logloss: 0.822353
[90]	valid_0's multi_logloss: 0.822303
[91]	valid_0's multi_logloss: 0.822259
[92]	valid_0's multi_logloss: 0.822214
[93]	valid_0's multi_logloss: 0.822168
[94]	valid_0's multi_logloss: 0.822125
[95]	valid_0's multi_logloss: 0.822088
[96]	valid_0's multi_logloss: 0.822053
[97]	valid_0's multi_logloss: 0.822012
[98]	valid_0's multi_logloss: 0.821972
[99]	valid_0's multi_logloss: 0.821934
[100]	valid_0's multi_logloss: 0.821906
[101]	valid_0's multi_logloss: 0.821875
[102]	valid_0's multi_logloss: 0.821841
[103]	valid_0's multi_logloss: 0.821808
[104]	valid_0's multi_logloss: 0.821785
[105]	valid_0's multi_logloss: 0.821759
[106]	valid_0's multi_logloss: 0.821736
[107]	valid_0's multi_logloss: 0.821714
[108]	valid_0's multi_logloss: 0.821686
[109]	valid_0's multi_logloss: 0.821663
[110]	valid_0's multi_logloss: 0.821639
[111]	valid_0's multi_logloss: 0.821616
[112]	valid_0's multi_logloss: 0.821599
[113]	valid_0's multi_logloss: 0.821582
[114]	valid_0's multi_logloss: 0.821562
[115]	valid_0's multi_logloss: 0.821549
[116]	valid_0's multi_logloss: 0.821532
[117]	valid_0's multi_logloss: 0.821523
[118]	valid_0's multi_logloss: 0.821506
[119]	valid_0's multi_logloss: 0.821498
[120]	valid_0's multi_logloss: 0.821488
[121]	valid_0's multi_logloss: 0.821473
[122]	valid_0's multi_logloss: 0.821462
[123]	valid_0's multi_logloss: 0.82145
[124]	valid_0's multi_logloss: 0.82144
[125]	valid_0's multi_logloss: 0.821427
[126]	valid_0's multi_logloss: 0.821415
[127]	valid_0's multi_logloss: 0.821399
[128]	valid_0's multi_logloss: 0.821377
[129]	valid_0's multi_logloss: 0.821358
[130]	valid_0's multi_logloss: 0.821347
[131]	valid_0's multi_logloss: 0.821331
[132]	valid_0's multi_logloss: 0.821317
[133]	valid_0's multi_logloss: 0.821305
[134]	valid_0's multi_logloss: 0.821295
[135]	valid_0's multi_logloss: 0.821284
[136]	valid_0's multi_logloss: 0.821273
[137]	valid_0's multi_logloss: 0.821266
[138]	valid_0's multi_logloss: 0.821259
[139]	valid_0's multi_logloss: 0.82125
[140]	valid_0's multi_logloss: 0.821242
[141]	valid_0's multi_logloss: 0.821241
[142]	valid_0's multi_logloss: 0.821236
[143]	valid_0's multi_logloss: 0.821234
[144]	valid_0's multi_logloss: 0.82123
[145]	valid_0's multi_logloss: 0.821223
[146]	valid_0's multi_logloss: 0.821219
[147]	valid_0's multi_logloss: 0.821215
[148]	valid_0's multi_logloss: 0.821215
[149]	valid_0's multi_logloss: 0.821208
[150]	valid_0's multi_logloss: 0.821213
[151]	valid_0's multi_logloss: 0.821211
[152]	valid_0's multi_logloss: 0.821207
[153]	valid_0's multi_logloss: 0.821207
[154]	valid_0's multi_logloss: 0.821206
[155]	valid_0's multi_logloss: 0.821206
[156]	valid_0's multi_logloss: 0.821208
[157]	valid_0's multi_logloss: 0.821205
[158]	valid_0's multi_logloss: 0.821198
[159]	valid_0's multi_logloss: 0.821192
[160]	valid_0's multi_logloss: 0.821187
[161]	valid_0's multi_logloss: 0.821187
[162]	valid_0's multi_logloss: 0.821185
[163]	valid_0's multi_logloss: 0.821182
[164]	valid_0's multi_logloss: 0.821181
[165]	valid_0's multi_logloss: 0.821183
[166]	valid_0's multi_logloss: 0.821183
[167]	valid_0's multi_logloss: 0.821178
[168]	valid_0's multi_logloss: 0.821183
[169]	valid_0's multi_logloss: 0.821182
[170]	valid_0's multi_logloss: 0.821185
[171]	valid_0's multi_logloss: 0.821189
[172]	valid_0's multi_logloss: 0.821193
[173]	valid_0's multi_logloss: 0.821194
[174]	valid_0's multi_logloss: 0.821192
[175]	valid_0's multi_logloss: 0.821194
[176]	valid_0's multi_logloss: 0.8212
[177]	valid_0's multi_logloss: 0.821193
Early stopping, best iteration is:
[167]	valid_0's multi_logloss: 0.821178

In [26]:
pred = model.predict(X_test)

In [27]:
labels_pred = [np.argmax(v) + 1 for v in pred]
len(labels_pred)

86868

In [28]:
error = f1_score(y_test, labels_pred, average ='micro')
error

0.3146613252290832

In [29]:
df_result = pd.DataFrame(data = {'building_id': [], 'damage_grade': []})
df_result['building_id'] = X_test.reset_index()['building_id']
df_result['damage_grade'] = labels_pred
df_result

       building_id  damage_grade
0            83086             2
1            79035             2
2           552293             2
3           640564             2
4          1051848             2
...            ...           ...
86863       604647             3
86864       193680             2
86865       519954             2
86866       860271             2
86867       131845             2

[86868 rows x 2 columns]

In [34]:
df.reset_index()

        building_id  ... damage_grade
0            802906  ...            2
1             28830  ...            1
2             94947  ...            2
3            590882  ...            1
4            201944  ...            2
...             ...  ...          ...
260596       688636  ...            1
260597       669485  ...            2
260598       602512  ...            2
260599       151409  ...            1
260600       747594  ...            2

[260601 rows x 8 columns]

In [52]:
submission_format = pd.read_csv('/content/drive/MyDrive/datasets_tp2/submission_format.csv', index_col='building_id')



my_submission = pd.DataFrame(data=labels_pred,
                             columns=submission_format.columns,
                             index=submission_format.index)

my_submission

             damage_grade
building_id
300051                  2
99355                   2
890251                  2
745817                  2
421793                  2
...                   ...
310028                  3
663567                  2
1049160                 2
442785                  2
501372                  2

[86868 rows x 1 columns]

In [54]:
my_submission.to_csv('/content/drive/MyDrive/datasets_tp2/12072021-training-result.csv',\
index= True, header=True,sep=',')